<div class="container">
  <h1>Places</h1>

  <% if @current_user == nil%>
    Please log in to see a list of places
  <% else %>
    <p>
      <div>
        <a href="/places/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New place</a>
      </div>
    </p>
    <ul>
      <% for place in @places %>
        <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>